$base-font-size = 16px
$base-font-color = #888
#nav
  font-size: $base-font-size
  color: $base-font-color
  a
    color: $base-font-color
    display: inline-block
    width: w = 100px
    height: h = (@width / 3)
    line-height: (h + 1)
    border: 1px solid $base-font-color
    border-radius: (h / 2)
    &:hover
      color: orange